// We can import bulma into the project using Sass.


// Update some of Bulma's component variables

// navbar

// $navbar-item-img-max-height: 90%;

// setting divider extension background color

// update variables
$dark: #83ba3b;
$danger: #811e68;
$info: #DAA520;

// import bulma and other stylesheets after updating variables
@import '../node_modules/bulma/bulma.sass';